body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #2b2020;
}

/* Font code */
.main-text {
    font-size: 48px;
    color: #D4B98E;
    font-weight: 900;
}

.logo-text {
    font-size: 24px;
    color: #D4B98E;
    font-weight: 600;
}

.secondary-text {
    font-size: 18px;
    color: #D1CDCE;
}

/* Header code */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1450px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em 1.5em;
}

/* Hero code */
.hero {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero-image-container {
    display: flex;
}

.signup {
  appearance: button;
  backface-visibility: hidden;
  background-color: #B81B10;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 30px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.signup:disabled {
  cursor: default;
}

.signup:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #FDF3E7;
}

.content-title {
    font-weight: 900px;
    font-size: 32px;
    margin-bottom: 32px;
}

.content-container {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.info {
    max-width: 200px;
}

.info img {
    height: 200px;
}

/* Quote code */

.quote {
    display: flex;
    flex: 1;
}

/* Call to action code */

.call-to-action {
    display: flex;
    flex: 1;
}

/* Footer code */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}